.display {
  width: 100vw;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px;
  width: 70vw;
  height: 275px;
}

.adder img {
  height: 275px;
}


.line {
  height: 3px;
  width: 90%;
  background: #67C29E;
}

.cards-container {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
}

.placeholder {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.moon-rise {
  animation: moon-rise-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(270deg);
  }
}